{% extends "main/layout.html" %}
{% load static %}

{% block main %}


<main>
    <div class="ticket-form signFormCorrector">
        <form method="POST">
            {% csrf_token %}
            <div>
                <h1>
                    Авторизация
                </h1>
                <br>
                <input type="text" id="username" name="username" placeholder="Имя пользователя" required>
            </div>
            <br>
            <div>
                <input type="password" id="password" name="password" placeholder="Пароль" required>
            </div>
            <div class="horizCorrector">
                <button id="signIn" type="submit">Войти</button>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="{% if message.tags %}{{ message.tags }}{% endif %}" id="loginMessage">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </form>
    </div>
</main>

{% endblock %}